<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wms.business.sale.mapper.WmsSaleOrderItemMapper">

    <select id="selectBySaleId" resultType="com.example.wms.business.sale.entity.WmsSaleOrderItem">
        SELECT * FROM wms_sale_order_item WHERE sale_id = #{saleId} ORDER BY line_no ASC
    </select>

    <delete id="deleteBySaleId">
        DELETE FROM wms_sale_order_item WHERE sale_id = #{saleId}
    </delete>

</mapper>
